#left * {
  box-sizing: border-box;
}

#left ::-webkit-scrollbar {
  display: none;
}

#left {
  height: 100vh;
  width: 100vw;
  padding: 40px 0;
  background-color: #131313;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

#left .colBox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#left .cardBox {
  padding: 8px;
  width: 25vw;
  height: 81px;
  border: 3px solid aliceblue;
  border-radius: 20px;
  margin: 8px;
  overflow: hidden;
  transition: all ease .8s;
}

#left .activeBox,
#left .card5 {
  height: 100%;
}

#left .activeBox .ant-tabs-content-holder {
  margin-bottom: 38px;
}

#left .cardBox>div,
#left .ant-tabs,
#left .ant-tabs-content-holder {
  height: 100%;
}

#left .ant-tabs-content-holder {
  overflow: scroll;  
}

#left .cardBox>button {
  margin: 0;
  padding: 8px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  background-color: aliceblue;
  color: #131313;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}
#left .card5 button {
  cursor: unset;
}

#left .cardBox li {
  margin: 0;
  padding: 3px;
  font-size: 16px;
  border-bottom: 1px solid #333;
}

#left .cardBox li a {
  text-decoration: none;
  color: aliceblue;
}

#left .ant-tabs-nav {
  margin: 0 8px 8px 0vh;
}

#left .ant-tabs-tab {
  margin: 0 8px;
  padding: 8px 0;
}

#left .ant-tabs-nav::before {
  border: 1px solid #444;
  left: 8px;
}

#left .ant-tabs-tab-btn {
  color: aliceblue;
}

#left .ant-tabs-tab-btn:hover,
#left .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #1890ff;
}