.navTop {
    height: 20px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
        height: 40px;

        .rightRoute {
            display: block;
        }
    }

    .rightRoute {
        display: none;
        position: absolute;
        left:96vw;
    }

    .butt {
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: rgb(214, 212, 212);
        cursor: pointer;
    }

    .rightRoute {
        color: rgb(214, 212, 212);
    }
}

.navBottom {
    height: 20px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .butt {
        width: 50px;
        height: 5px;
        border-radius: 10px;
        background-color: rgb(214, 212, 212);
        ;
    }
}

.flexContainer {
    display: flex;

    .leftButton {
        width: 15px;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;

        .butt {
            position: relative;
            bottom: 5px;
            height: 40px;
            width: 4px;
            background-color: rgb(214, 212, 212);
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .leftList {
        width: 100px;
        height: 800px;
    }
}

.ant-drawer-body {
    padding: 0;
}

.drawerContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .navContainer {
        width: 65px;
        height: 100%;
    }

    .closeButton {
        float: right;
        width: 15px;
        height: 820px;
        display: flex;
        background-color: black;
        justify-content: center;
        align-items: center;

        .butt {
            position: relative;
            bottom: 5px;
            height: 40px;
            width: 4px;
            background-color: rgb(214, 212, 212);
            border-radius: 4px;
            cursor: pointer;
        }
    }
}